# .gitignore for lab1 (Meza de la Jara, Tinoco).
# DOES NOT APPLY FOR THIS REPOSITORY.
# videos/
# *.txt
# !171.txt

*.log
entrega_1/data/processed_data.parquet
entrega_1/models/shap_results.pkl
**/mlruns/
**/__pycache__/
*.rar
.env